<!DOCTYPE html>
<html>
    <head>
        <title>Medication App</title>
         <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Welcome to your medical record!</h1>
        <h2>Please log in or create an account</h2>
        <form action="/authenticate" method="POST">
            <input type="text" name="userName" class="form-control" placeholder="User Name" size="40"><br>
            <input type='text' name='password' class="form-control" placeholder="Password" size="40"><br>
            <input type="submit" class="btn btn-primary" value="submit">
        </form>
    </body>
</html>