<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard for {{userName}}</title>
         <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <style>
        .showcase {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: calc(100vh - 0.1px);
                padding: 0 1.5rem;
            }

        .showcase h2 {
                font-size: 2rem;
                margin-bottom: 1rem;
                max-width: 1000px;
            }

        @media (min-width: 1024px) {
                .showcase h2 {
                  font-size: 4rem;  
                }
            }

    </style>
    <body>
        <section class="showcase">
            <h2>Enter New Medication Details</h2>
                <form action="/createMedEntry" method="POST">
                    <input type="number" name="userID" size="40" hidden="true" value="{{userID}}"><br>
                    <input type="text" name="medName" size="40" placeholder="Medication Name"><br>
                    <input type="number" name="medDose" size="40" placeholder="Medication Dose"><br>
                    <input type="text" name="doseUnit" size="40" placeholder="Dose Unit (e.g. mg)"><br>
                    <input type="text" name="frequency" size="40" placeholder="Frequency (e.g. twice daily)"><br>
                    <input type="text" name="comment" size="40" placeholder="Comment"><br>
                    <button type="submit" class = "btn btn-primary">Submit</button>
                </form>
        </section>
    </body>
</html>